#mobileFooter {
  &.nav {
    position: fixed;
    z-index: 999;
    bottom: 0;
    width: 100%;
    height: auto;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    display: flex;
    overflow-x: auto;
  }

  & .nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 0.5rem;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-family: inherit;
    font-size: 13px;
    color: #aaaaaa;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
  }

  & .nav__link:hover {
    background-color: #eeeeee;
  }

  & .nav__link--active {
    color: #007cba;
  }

  & .nav__icon {
    font-size: 18px;
  }
}
