@import "bootstrap/dist/css/bootstrap.min.css";

body {
  margin: 0;
  font-family: "Overpass", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.root {
  background-color: #f7f7f7;
  padding-bottom: 8rem;
}
